 /* ===== FOOTER ===== */
 .footer {
    height: 5vh;
    justify-content: center;

    footer p {
        text-align: center;
        font-size: 1.2em;
        color: $primary
    }
}


/* RESPONSIVE */
@media screen and (max-width: 350px) {
    .footer {
        font-size: 7px;
    }
}